/* REGOLE DI DEBUG */
[class*="col-"] {
  min-height: 150px;
  background-color: grey;
  border: 1px solid black;
}

/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
}

img {
  height: 200px;
}
